
body {
  background-color: #D4E4E4;
}

p {
  color: red;
}


.link {
  stroke: #444140;
  stroke-width: 3.5px;
}

.node {
  cursor: move;
  fill: #fff;
  stroke: #444140;
  stroke-width: 3.5px;
}

.node.fixed {
  fill: #f00;
}

/
/*=============MAP=================*/
.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #444140;
  stroke-width: 1.5px;
}

.graticule {
  fill: none;
  stroke: #444140;
  stroke-opacity: .2;
  stroke-width: .5px;
}
